@import "tailwindcss";
@import "./fonts.css";

@theme {
  /* 폰트 */
  --font-family-base: 'pretendard', sans-serif;
  
  /* 컬러 */
  --color-primary: #09f;
  --color-main-bg: #f0f0f0;

  /* 쉐도우 */
  --shadow-modal: 0 2px 3px rgba(0, 0, 0, 0.15);

  /* 애니메이션 */
  --animate-spin-loader: spin 1s linear infinite;
  --animate-bounce-custom: custom-bounce 1s infinite;
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    opacity: 0.5;
  }
}